.main{
    margin-top: 50px;
    &__text{
        max-width: 470px;
        margin-right: 100px;
    }
    &__title{
        margin-top: 150px;
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 50px;
        color: var(--dark-shades);
        
    }
    &__subtitle{
        margin-top: 63px;
        font-family: 'Poppins',sans-serif;
        font-weight:500;
        font-size: 30px;
        line-height: 26px;
        color: var(--main-brand-color);
    }
    &__span{
        color: var(--main-brand-color);
    }
    &__info{
        margin-top: 43px;
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: var(--dark-shades);
        text-indent: 30px;
        text-align:justify;
    }
    &__img{
        width: 100%;
        height: auto;
    }
    &__button{
        display: block;
        cursor: pointer;
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        background-color: var(--main-brand-color);
        color: var(--dark-shades);
        border-radius: 30px;
        padding: 10px 33px;
        margin-top: 98px;
        max-width: 187px;
        text-decoration: none;
    }
    &__button:hover{
        background-color: var(--ma);
        transition: background-color .3s ease-in-out ;
    }
    .swiper {
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1048px){
    .main{
        margin-top: 20px;
        &__title{
            margin-top: 50px;
        }
        &__text{
            max-width: 400px;
            text-align: center;
            margin-right: 30px;
        }
        .button{
            margin-top: 50px;
        }
        .works{
            margin-top: 10px;
        }
        &__img{
            max-width: 400px;
            margin:  10px auto;
        }
    }
}
@media (max-width: 796px) {
    .main{
        &__container{
        flex-direction: column;
        }
        &__text{
            margin: 0 auto;
        }
        &__button{
            margin: 20px auto;

        }
    }
}
@media (max-width: 480px){
    .main{
        margin-top: 0;
        &__title{
            margin-top: 30px;
            font-size: 40px;
        }
        &__span{
            margin-top: 10px;
        }
        &__info{
            font-size: 16px;
            line-height: 25px;
            margin-top: 30px;
        }
        .button{
            margin: 50px auto;
        }
    }
}