.works{
    background-color: var(--main-brand-color);
    margin-top: 65px;
    &__container{
        flex-direction: column;
        text-align: center;
    }
    &__title{
        margin-top: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        color: var(--dark-shades);
    }

    &__list{
        margin: 60px auto;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        gap: 20px;
    }
    &__link{
        position: relative;
        display: block;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        background-repeat: no-repeat;
        box-shadow: 0 0 5px 1px var(--dark-shades);
        transition: box-shadow .3s ease-in-out;
    }
    &__item:nth-child(1) &__link{
        background-image: url(../img/work1.jpg);
    }
    &__item:nth-child(2) &__link{
        background-image: url(../img/work2.jpg);
    }
    &__item:nth-child(3) &__link{
        background-image: url(../img/work3.jpg);
    }
    &__item:nth-child(4) &__link{
        background-image: url(../img/work4.jpg);
    }
    &__item:nth-child(5) &__link{
        background-image: url(../img/work5.jpg);
    }
    &__link:hover{
        box-shadow: 0 0 10px 4px var(--dark-shades);
    }
}
@media (max-width: 985px) {
    .works{
        &__link{
            height: 290px;
        }
        &__list{
            display: grid;
            grid-template-columns: 290px 290px;
            grid-template-rows: 290px 290px 290px ;
            }
        }
}
@media (max-width: 630px) {
    .works{
        &__list{
            display: grid;
            grid-template-columns: 290px;
            grid-template-rows: 290px 290px 290px 290px 290px ;
            }
        }
}